#main{
	/* border:1px solid red; */
}

#user_img{
	width:100px;
	/* border:1px solid black; */
	margin-left:22px;	
	margin-top:22px;
}

#cafeName{
	/* border:1px solid red; */
	padding:12px 8px;
	width:200px;
	margin-right:980px;
	margin-top:40px;
	float:right;
	font-size:32px;
}
